[user]
	name = martendebruijn
	email = marten@debruijn.io
	signingkey = D7BABA6542AE744E3C8BFBD8B254C479EDE8B26D
[core]
	excludesfile = ~/.gitignore_global
	editor = code -w
[pull]
	rebase = false
[init]
	defaultBranch = main
[rerere]
	enabled = true
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
