[user]
	name = martendebruijn
	email = marten@debruijn.io
	signingkey = C6F06D1A54F47BFD
[core]
	excludesfile = ~/.gitignore_global
	editor = code -w
[pull]
	rebase = false
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	program = gpg
