[user]
	name = martendebruijn
	email = marten@martendebruijn.nl
	signingkey = C6F06D1A54F47BFD

[core]
	excludesfile = /Users/martendebruijn/.gitignore_global
	editor = code -w
[pull]
	rebase = false
[init]
	defaultBranch = main

[url "git@github.com:martendebruijn/"]
	insteadOf = https://github.com/martendebruijn/
[commit]
	gpgsign = true
[gpg]
	program = gpg
